.edge {
  stroke: #999;
  stroke-opacity: 0.8;
}

.old_edge0 {
  stroke: #999;
  stroke-opacity: 0.6;
}

.old_edge1 {
  stroke: #999;
  stroke-opacity: 0.4;
}
.old_edge2 {
  stroke: #999;
  stroke-opacity: 0.3;
}
.old_edge3 {
  stroke: #999;
  stroke-opacity: 0.2;
}
.old_edge4 {
  stroke: #999;
  stroke-opacity: 0.1;
}

.node circle {
  stroke: #000;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.node:hover circle {
  stroke-opacity: 0.6;
}


.pinned circle {
  stroke: #000;
  stroke-width: 1.5px;
}

.pinned text {
  font: 10px sans-serif;
}

.pinned:hover circle {
  stroke-opacity: 0.6;
}

.old_node0 circle {
  fill: #fff;
}


.old_node0 text {
  font: 10px sans-serif;
  color: #000;/* Fallback for older browsers */
  color: rgba(0,0,0,0.5);
}

.old_node1 circle {
  fill: #fff;
  stroke-opacity: 0.6;
}

.old_node1 text {
  font: 10px sans-serif;
  opacity: 0.6;
  color: #000;/* Fallback for older browsers */
  color: rgba(0,0,0,0.6);
}

.old_node2 circle {
  fill: #fff;
  stroke-opacity: 0.3;
}


.old_node2 text {
  font: 10px sans-serif;
  opacity: 0.3;
  color: #000;/* Fallback for older browsers */
  color: rgba(0,0,0,0.3);
}

.old_node3 circle {
  fill: #fff;
  stroke-opacity: 0.1;
}


.old_node3 text {
  font: 10px sans-serif;
  opacity: 0.1;
  color: #000;/* Fallback for older browsers */
  color: rgba(0,0,0,0.1);
}

.old_node4 circle {
  fill: #fff;
  stroke-opacity: 0.1;
}

.old_node4 text {
  font: 10px sans-serif;
  opacity: 0.1;
  color: #000;/* Fallback for older browsers */
  color: rgba(0,0,0,0.1);
}

.cell {
  fill: none;
  pointer-events: all;
}
/*
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.text1 text{
  font: 10px sans-serif;
}
*/
/*.table { border:0px solid black; padding:10px; width:1400px; overflow:hidden;border-spacing:0;border-collapse:collapse;}
.left { float:left; width:960px; }
.right { float:right; width:400px;  }

td, th {
    padding: 1px 4px;
}
*/